* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    color: #fdfdfd;
    font-weight: 100;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    background-color: #fde2a3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-box {
    min-width: 50%;
    background-color:	#f6c2a8;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }

  p.question {
    font-size: 20px;
    font-style: italic;
    padding: 20px;
  }

  div.firstQuestion,
  div.secondQuestion {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #9aafc7;
    margin: 20px;
  }

  label {
    font-size: 16px;
  }

  label[for="cat"],
  label[for="fish"],
  label[for="no"] {
    margin-left: 20%;
  }

  input[type="radio"] {
    margin-left: 5px;
    margin-top: 5px;
    
  }

  .form-row {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  div.buttons {
    display: flex;
    justify-content: space-around;
    
  }

  button {
    color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #9aafc7;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
  }

  button:disabled {
    background-color: #777777;   
    color: #888888; 
  }

  .checked {
    checked: 
  }