a {
  text-decoration: none;
  text-transform: none;
}

.view {
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 40px;
  margin: 0px 0px 50px 60px;
  color: #415162;
  padding-top: 60px;
}
  
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.allTabs {
  display: flex;
  flex-direction: row;
}

.forScroll {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  flex: 2;
}

.forScroll::-webkit-scrollbar-track {
  background-color: #ECF0F1;
}
.forScroll:hover::-webkit-scrollbar-thumb {
  visibility:visible;
  background: #bdc7d3;
}

.content {
  width: 1200px;
  background-color: #ECF0F1;
}

  .tab {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 180px;
    height: 320px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 13px 11px 32px -10px rgba(0,0,0,0.64);
    color: #415162;
    flex: 1;
  }

.tab img {
  width: 150px;
  height: 150px;
  align-self: center;
}

.temp {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.message {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}

.date {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
}

.back {
  margin: 60px 0px 73px 45%;
  width: 10%;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 13px 11px 32px -10px rgba(0,0,0,0.64);
  cursor: pointer;
  color: #415162;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #bdc7d3;
}

.back:hover{
  background-color: #dde6f0;
  width: 11%;
  height: 55px;
}


.next, .previous {
  width: 60px;
  height: 100%;
  margin: auto 0;
  border: none;
  background-color: #ECF0F1;
  cursor: pointer;
}

.next:focus, .previous:focus {
  outline: none;
}

.next:hover img, .previous:hover img{
  width: 60px;
  height: 60px;
}

.next img, .previous img {
  width: 50px;
  height: 50px;
}

.disabled img {
  display: none;
}