* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ECF0F1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 840px;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.score {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin: 70px 0px 40px 0px;
  padding: 0px 30px;
}

button {
  height: 50px;
  width: 400px;
  background-color: #3498DB;
  border: none;
  text-transform: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: blue;
  font-weight: bold;
}