* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
} 

.container {
  background: #313841;
  display: flex;
  height: 100vh;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

button {
  height: 40px;
  width: 40px;
  text-transform: none;
  background-color: #1C242B;
  color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
  outline: inherit;
  margin: 10px;
}


.buttons {
  display: flex;
  flex-direction: row;
  position: relative;
}

button[data-action="delete"]:hover {
  color: red;
}

button[data-action="delete"]:hover span{
  color: white;
  background-color: red;
  text-align: center;
  font-size: 15px;
  padding: 11px 50px; 
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50px;
}

button[data-action="confirm"]:hover {
  color: #38BA7D;
}

button[data-action="confirm"]:hover span{
  color: white;
  background-color: #38BA7D;
  text-align: center;
  font-size: 15px;
  padding: 11px 50px; 
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50px;
}

button span {
  display: none;
}

button[data-action="confirm"]:hover span:before,
button[data-action="delete"]:hover span:before {
  width: 0; 
  height: 0; 
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #1C242B;
}
