* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

th {
  font-size: 24px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 50px;
}


