* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 1200px;
  display: flex;
}

form {
  margin: 50px;
  display: flex;
}

label{
  font-size: 20px;
  padding-top: 5px;
  margin-right: 10px;
}

input {
  padding: 5px;
  font-size: 20px;
  margin-right: 60px;
}

th {
  font-size: 24px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


