* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    background-color: rgb(117, 117, 117);
  }

  .speaker-form {
    display: flex;
    padding: 50px 0px 0px 50px;
    height: 23%;
  }

  .form-row{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .form-row input[type='text'] {
    background-color: rgb(203, 228, 219);
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 7px;
    font-size: 16px;
  }

  .form-row label {
    margin-bottom: 15px;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    margin: 30px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }

  .main {
    margin: 20px;
    display: flex;
    height: 70%;
    position: relative;
  }

  .main p {
    font-size: 16px;
    padding: 10px;
    letter-spacing: 0.2em;
    cursor: pointer;
    color: yellow;
  }

  .charList {
    height: 100%;
    max-width: 50%;
  }

  .movieList {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
  }


