* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
  cursor: pointer;
}
a:active {
  color: red;
  text-decoration: none;
}

a:visited:hover {
  color: orange;
}