<h1 class="title">TODAY'S WEATHER</h1>
<div class="input">
  <input #citySearch class="inputCity" placeholder="Type in a city">
  <select #selectDate class="dateSelector" (click)="getDate(selectDate.value)">
    <option>{{today | date }}</option>
    <option>{{tomorrow | date}}</option>
    <option></option>
    <option></option>
    <option></option>
  </select>
  <button class="search" (click)="searchForecast(citySearch.value)">Search</button>
</div>
<a *ngFor="let forecast of forecasts" routerLink="/detail/{{forecast.cityId}}">
  <div class="weather">
    <div class="tab">
      <div class="cityName">
        <h1 class="city">{{forecast.city}}</h1>
        <h3 class="location">{{forecast.location}}</h3>
      </div>
      <div class="degrees">
        {{forecast.weather.temp}} &deg;C
      </div>
      <div class="img">
        <img src='../../assets/{{forecast.weather.icon}}.png'>
      </div>
    </div>
  </div>
</a>