* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

.content {
  background: #2F3060;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #2F3060;
  width: 600px;
}
button {
  width: 140px;
  height: 50px;
  text-transform: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  margin: 0px 40px 40px 20px;
  font-size: 15px;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: inset 0px 0px 70px 0px white;
}

button:active {
  box-shadow: inset 0px 0px 100px 0px black;
  border: none;
  outline: inherit;
}

.white {
  color: rgba(0, 0, 0, 0.5);
  background-color: #FAFBFD;
  box-shadow: 
    0px 5px 0px 0px #999FB3;
}

.blue {
  background-color: #4564A4;
  box-shadow: 
    0px 5px 0px 0px #26396D,
    0px -2px 0px 0px #5476BD;
}

.green {
  background-color: #1CB05C;
  box-shadow: 
    0px 5px 0px 0px #166A40,
    0px -2px 0px 0px #51D188;
}

.red {
  background-color: #D64636;
  box-shadow: 
    0px 5px 0px 0px #862B2F,
    0px -2px 0px 0px rgb(228, 76, 84);
}

.light {
  background-color: #00AEED;
  box-shadow: 
    0px 5px 0px 0px #0C6AA0,
    0px -2px 0px 0px rgb(20, 152, 228);
}

.black {
  background-color: #27282A;
  box-shadow: 
    0px 5px 0px 0px #1E1F2E,
    0px -2px 0px 0px rgb(64, 66, 94);
}
